@CHARSET "UTF-8";
	
input{
	display: block;
	width: 705px;
	height: 20px;
	padding: 5px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}

.submit{
	width: 715px;
}

.contents{
	width: 705px;
	height: 350px;
	padding: 5px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}